<div class="row">
  <div class="col-sm-3 sale-summary">
    <div class="modal-header">
      <h6 class="modal-title"> Ventas - {{today}}</h6>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Número de ventas:
          <span class="badge badge-primary badge-pill">{{sales}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Valor total:
          <span class="badge badge-primary badge-pill">${{price}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
